{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="templatemo_middle">
        <img src="{% static 'shop/images/templatemo_image_01.png'%}" alt="Image 01"/>
        <h1>Introducing Web Store</h1>
        <p>Web Store is a free css template for your personal or commercial websites. Feel free to download, edit and
            use this template for any purpose.</p>
        <a href="#" class="buy_now">Browse All Products</a>
    </div> <!-- END of middle -->

    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        <div id="product_slider">
            <div id="SlideItMoo_outer">
                <div id="SlideItMoo_inner">
                    <div id="SlideItMoo_items">
                        <div class="SlideItMoo_element">
                            <a href="#slide1" target="_parent">
                                <img src="images/gallery/01.jpg" alt="product 1"/></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cleaner"></div>
        </div>

        <div id="sidebar">
            <h3>Categories</h3>
            <ul class="sidebar_menu">
                <li{% if not category %}{% endif %}>
                    <a href="{% url 'shop:product_list' %}">All</a>
                </li>

                {% for c in categories %}

                    <li {% if category.slug == c.slug %}{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>

                {% endfor %}

            </ul>
            <h3>Newsletter</h3>
            <p>Praesent aliquam mi id tellus pretium pulvinar in vel ligula.</p>
            <div id="newsletter">
                <form action="#" method="get">
                    <input type="text" value="Subscribe" name="email_newsletter" id="email_newsletter"
                           title="email_newsletter" onfocus="clearText(this)" onblur="clearText(this)"
                           class="txt_field"/>
                    <input type="submit" name="subscribe" value="Subscribe" alt="Subscribe" id="subscribebtn"
                           title="Subscribe" class="subscribebtn"/>
                </form>
                <div class="cleaner"></div>
            </div>
        </div> <!-- END of sidebar -->

        <div id="content">
            <h1>{% if category %}{{ category.name }}{% else %}Products
            {% endif %}</h1>
        {% for product in products %}
            <div class="col col_14 product_gallery">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"/></a>
                <h3>{{ product.category }}</h3>
                <p class="product_price">$ {{ product.price }}</p>
                 <form  class="add_to_cart" action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart" style="background-color: green; color: white;">

                </form>
            </div>
        {% endfor%}

        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div>
    <!-- END of main -->

{% endblock content %}