{% extends 'blog/blog-list.html' %}
{% load blog_tags %}

{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side / Blog Detail-->

                <div class="content-side col-lg-8 col-md-12 col-sm-12">

                    <div class="blog-detail">
                        <div class="image-box">
                            <figure class="image"><img src="{{ post.photo.url }}" alt=""></figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-date">{{ post.publish|date:"j F ,Y" }}</div>

                            <h3>{{ post.title }}</h3>
                            <ul class="post-info">
                                <li>by <a href="{% url 'games:index' %}">Gamon</a></li>
                                {% with comments.count as total_comments %}
                                    <li><a href="#">{{ total_comments }} comment{{ total_comments|pluralize }}</a></li>
                                {% endwith %}

                                <li><a href="#">15 Likes</a></li>
                                <li><a href="{% url 'blog:post_share' post.id %}">Share Post</a></li>
                            </ul>
                            <p>  {{ post.body|markdown}}</p>
                        </div>
                    </div>


                    {##}
                    {#                    <!-- Author Box -->#}
                    {#                    <div class="author-box">#}
                    {#                        <div class="inner-box">#}
                    {#                            <figure class="thumb"><img src="../../games/static/games/images/resource/author-thumb.jpg" alt=""></figure>#}
                    {#                            <h3 class="name">Christine Eve</h3>#}
                    {#                            <div class="text">Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae dicta sunt explica lltes port lacus quis enim var sed turpis gilla sed.</div>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <!-- Comments Area -->
                    <div class="comments-area">
                        <div class="group-title"><h3> Comment</h3></div>

                        <div class="comment-box">
                            {% for comment in comments %}
                                <div class="comment">

                                    <div class="author-thumb">
                                        <figure class="thumb"><img
                                                src="../../games/static/games/images/resource/thumb-1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <h4 class="name">Comment {{ forloop.counter }} by {{ comment.name }}</h4>

                                    <div class="text">{{ comment.body|linebreaks }}
                                        <p>Data create : {{ comment.created }}</p>


                                    </div>
                                    <a href="#" class="reply-btn">Reply</a>
                                </div>
                                <div></div>
                            {% empty %}
                                <p>There are no comments.</p>
                            {% endfor %}
                        </div>


                        <div class="comment-box reply-comment">
                            {#                            <div class="comment">#}
                            {#                                <div class="author-thumb">#}
                            {#                                    <figure class="thumb"><img src="../../games/static/games/images/resource/thumb-2.jpg" alt=""></figure>#}
                            {#                                </div>#}
                            {#                                <h4 class="name">Sarah Albert</h4>#}
                            {#                                <div class="text">Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo var sed efficitur turpis gilla sed sit amet finibus eros.</div>#}
                            {#                                <a href="#" class="reply-btn">Reply</a>#}
                            {#                            </div>#}
                        </div>
                    </div>

                    {% include 'blog/incl_/comment_form.html' %}
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="share-post.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Post Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="widget-content">
                                <h4 class="sidebar-title">Similar Posts</h4>
                                {% for post in similar_posts %}
                                    <article class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><a href="{{ post.get_absolute_url }}"><img
                                                    src="{{ post.photo.url }}" alt=""></a>
                                            </figure>
                                            <div class="post-info">{{ post.created }}</div>
                                            <div class="text"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                            </div>
                                        </div>
                                        {% empty %}
                                        There are no similar posts yet.
                                    </article>
                                {% endfor %}

                            </div>
                        </div>

                        <!-- Tags Widget -->
                        <div class="sidebar-widget popular-tags">
                            <div class="widget-content">
                                <h4 class="sidebar-title">Popular tags</h4>
                                {% post_tags_all as tags %}
                                {% for tag in tags %}
                                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                                {% endfor %}

                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="widget-content">
                                <h4 class="sidebar-title">Latest Posts</h4>
                                {% show_latest_posts 3 %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->

{% endblock content %}