{% extends 'base.html' %}

{% block title %}
    Share a post
{% endblock title %}
{% block content %}
    {% if sent %}
        <div>
    <h1>E-mail successfully sent</h1>
    <p>
        "{{ post.title }}" was successfully sent
        to {{ form.cleaned_data.recipient_email }}.
    </p>
        </div>
    {% else %}
    <section class="contact-form-section style-two">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">Share Post</div>
                            <h2>We can send a post to a friend</h2>
                        </div>
                        <div class="text">There are many variations of passages of lorem ipsum available, but the
                            majority have suffered alteration in some form injected humour, or simply free textinh
                            randomised words which don't look even slightly believable.
                        </div>

                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms">

                        <!--Default Form-->
                        <div class="default-form contact-form">

                            <form method="post">
                                {% csrf_token %}
                                {% for f in form %}
                                    {{ f.label_tag }}
                                    {{ f }}
                                {% endfor %}
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span
                                        class="btn-title">Send Message</span></button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endif %}



{% endblock content %}